<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  <link rel="shortcut icon" href="{% static "favicon.png" %}" type="image/x-icon">
  </head>

  <body>
    {% include "navbar.html" %}
    {% for message in messages %}
      <div class="alert {{ message.tags }}" role="alert">
        {{ message }}
      </div>
    {% endfor %}


    <h1>Allergen List</h1>
    {% include "allergen_list.html" %}

    <h1>User List</h1>
    {% include "user_list.html" %}

    {% include "footer.html" %}
  </body>

</html>